@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is how you create components in TailwindCSS */
@layer components {
	.navbar-icon {
		@apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto shadow-lg bg-gray-800 text-primary
    hover:bg-primaryHover hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer active:bg-primaryActive;
	}
	.navbar-label {
		@apply absolute w-auto p-2 m-2 min-w-max top-8
    rounded-md shadow-md font-raleway
     text-white  text-xs font-bold;
	}
	.main-content {
		@apply w-screen bg-slate-500 p-6 flex items-center fixed pb-24;
		height: calc(100vh - 80px);
	}
	.primary-button {
		@apply bg-primary text-white font-bold py-2 px-4 rounded-full items-center text-center hover:bg-primaryHover active:bg-primaryActive;
	}
	.secondary-button {
		@apply bg-transparent text-blue-500 rounded-full border border-blue-500 py-2 px-4 items-center text-center hover:bg-primary hover:text-white active:bg-primaryActive active:text-white;
	}
	.primary-input {
		@apply bg-black rounded-md border border-gray-700 text-white text-center placeholder-gray-500 disabled:bg-gray-600;
	}
	.account-form-field {
		@apply flex flex-col gap-1;
	}
	.account-form-label {
		@apply text-white text-xs font-bold;
	}
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}
